body {
  background-color: hsl(0, 0%, 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#btn {
  padding: 10px 30px;
  color: white;
  border: 1px solid hsl(0, 0%, 30%);
  background-color: hsl(0, 0%, 20%);
  font-family: Inter;
  font-weight: 600;
  font-size: 25px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  margin-top: 200px;
}
#btn:hover {
  background-color: hsl(0, 0%, 30%);
  border: 1px solid hsl(0, 0%, 40%);
}
.text {
  color: black;
  background: linear-gradient(90deg, blue, green, hsl(60, 100%, 61%), red);
  padding: 20px 30px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 0 30px 1px hsl(0, 70%, 60%);
}
.hidden {
  display: none;
}
